body {
    background-color: rgba(0, 0, 0, 0.03);
}

.header-text > p {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
}

.ui.segment {
    padding: 14px 28px;
}

.ui.segment:last-child {
    padding-bottom: 20px;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

input[type="text"] {
    outline: none;
}

input[type="text"]:disabled {
    background: #f2f2f2;
    outline: none;
}